@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

/* imb-plex-sans */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ibm-plex-sans/ibm-plex-sans-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ibm-plex-sans/ibm-plex-sans-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/ibm-plex-sans/ibm-plex-sans-600.woff2') format('woff2');
}

/* manrope */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/manrope/manrope-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/manrope/manrope-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/manrope/manrope-600.woff2') format('woff2');
}

@theme {
  --font-*: initial;
  --font-ibm-plex-sans: 'IBM Plex Sans', ui-sans-serif, system-ui, sans-serif;
  --font-manrope:
    'Manrope', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji', ui-sans-serif, system-ui, sans-serif;

  --color-brand-25: #f0f9f1;
  --color-brand-50: #e1f3e5;
  --color-brand-100: #c0e7ca;
  --color-brand-200: #82ce96;
  --color-brand-300: #4ead68;
  --color-brand-400: #239443;
  --color-brand-500: #037823;
  --color-brand-600: #02601c;
  --color-brand-700: #024d18;
  --color-brand-800: #053d16;
  --color-brand-900: #063315;
  --color-brand-950: #031c0b;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    @apply font-manrope font-normal;
  }
}
