@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

/* manrope */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/manrope/manrope-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/manrope/manrope-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/manrope/manrope-600.woff2') format('woff2');
}

@theme {
  --font-*: initial;
  --font-ibm-plex-sans: 'IBM Plex Sans', ui-sans-serif, system-ui, sans-serif;
  --font-manrope:
    'Manrope', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji', ui-sans-serif, system-ui, sans-serif;

  --color-light-gray: #f7f7f7;
  --color-nickel: #959595;
  --color-off-black: #232323;

  --color-brand-25: #f0f9f1;
  --color-brand-50: #e1f3e5;
  --color-brand-100: #c0e7ca;
  --color-brand-200: #82ce96;
  --color-brand-300: #4ead68;
  --color-brand-400: #239443;
  --color-brand-500: #037823;
  --color-brand-600: #02601c;
  --color-brand-700: #024d18;
  --color-brand-800: #053d16;
  --color-brand-900: #063315;
  --color-brand-950: #031c0b;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    @apply font-manrope font-normal;
  }
}

@utility h-container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 24px;

  @variant sm {
    padding-inline: 30px;
  }
  @variant md {
    padding-inline: 36px;
  }
  @variant lg {
    padding-inline: 40px;
  }
  @variant xl {
    padding-inline: 44px;
  }
  @variant 2xl {
    padding-inline: 60px;
  }
}

@utility counter-item {
  border-left: 1px solid red;
}

@utility full-object {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
