@font-face {
  font-display: swap;
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/onest/onest-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/onest/onest-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Onest';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/onest/onest-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Onest';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/onest/onest-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter/inter-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter/inter-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/inter/inter-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter/inter-700.woff2') format('woff2');
}
